.card {
    min-height: 80px;
    min-width: 80px;
    height: 20vw;
    width: 20vw;
    max-height: 300px;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 100%;
}
